// Подвал сайта

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $accent-background-color;
}

.footer-box {
  text-align: center;
  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    width: calc(100% / 2);

    &:last-child {
      width: 100%;
    }
  }

  @media screen and (min-width: $desktop) {
    width: calc((50% - 45px) / 2);
    text-align: left;
    margin-bottom: 0;
    margin-left: 70px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      width: calc(50% - 15px);
    }
  }
}

.footer-box .email-form {
  @media screen and (min-width: $tablet) {
    width: 100%;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
  }
}

.footer-page .container {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.footer-box .social-links {
  @media screen and (min-width: $desktop) {
    align-items: flex-start;
    justify-content: start;
  }
}
