// Подвал сайта

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $accent-background-color;
}

.footer-box {
  text-align: center;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    display: inline-block;
    width: calc(100% / 2 - 80px);
    margin-left: auto;
    margin-right: auto;
  }

  // @media screen and (min-width: $desktop) {
  //   width: calc((50% - 45px) / 2);
  // }
}

// .footer-boxes {
//   @media screen and (min-width: $tablet) {
//     display: flex;
//     align-items: baseline;
//     margin-bottom: 60px;
//   }
// }

@media screen and (min-width: $tablet) {
}
