// Подвал сайта

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;

  background: $accent-background-color;

  // @media screen and (min-width: $tablet) {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: space-between;

  //
  // }
}

.footer-box {
  text-align: center;

  @media screen and (min-width: $mobile) {
    margin-bottom: 60px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: $tablet) {
    flex-basis: calc(100% / 2);
  }
}

.footer-boxes {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: baseline;
    margin-bottom: 60px;
  }
}
