// Шапка сайта

.header-page {
  border-bottom: 1px solid #ececec;
  position: relative;
}

// Основная навигация сайта

.site-nav {
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $tablet) {
    min-height: 80px;
  }
}
