// Основной контейнер

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;

  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  // width: 1200px;

  //   display: flex;

  //   &--block {
  //     display: block;
  //   }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}

.menu-container {
  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;

    width: 100%;

    background-color: $primary-background-color;

    // display: none;
  }

  &.is-open {
    display: block;
  }
}
