// Основной контейнер

.container {
  margin-right: auto;
  margin-left: auto;
  padding: 0px 15px;
}

@media screen and (min-width: $mobile) {
  .container {
    width: $mobile;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: $desktop;
  }
}

.menu-container {
  @media screen and (min-width: $mobile) {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    min-height: 796px;
    padding: 48px 40px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: $primary-background-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);

    display: none;
  }

  &.is-open {
    display: block;
  }
}
