// Список Контактов

.contact__list {
  @extend %list;

  @media screen and (min-width: $mobile) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    display: block;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;
  }
}

.contact__list-item {
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    &:last-child {
      margin-left: 30px;
    }
  }
}

.contact__link {
  @include animation(color);

  @media screen and (min-width: $desktop) {
    // padding-top: 32px;
    // padding-bottom: 32px;
  }

  font-weight: $primary-font-weight;
  letter-spacing: 0.02em;
  color: $secondary-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__list-icon {
  @extend %icon;
  @include animation(fill);
  display: inline-block;

  margin-right: 10px;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}
