// Логотип сайта

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: $secondary-font-weight;
  line-height: 1.2;

  @media screen and (min-width: $mobile) {
    font-size: 24px;
    line-height: 1.17;
  }

  &--start {
    color: $accent-color;
  }

  &--end {
    color: $accent-text-color;
  }

  &--footer-end {
    color: $primary-background-color;
  }
}
