.hero-content__title {
  margin-bottom: 30px;
  font-size: 26px;

  font-weight: 900;
  line-height: 1.62;

  letter-spacing: 0.06em;
  color: $primary-background-color;

  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.subtitle {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.subtitle--hidden {
  @extend %visually-hidden;
}
