body {
  font-family: "Roboto", sans-serif;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  background-color: $primary-background-color;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

.section {
  padding: 94px 0px;

  @media screen and (min-width: $mobile) {
    padding: 60px 0px;
  }

  &--theme__light {
    background-color: $secondary-background-color;
  }

  &-direct {
    @media screen and (min-width: $mobile) {
      display: none;
    }

    @media screen and (min-width: $desktop) {
      display: block;
      padding: 0px;
    }
  }
}
