$primary-font-weight: 500;
$secondary-font-weight: 700;

$primary-font-size: 14px;
$secondary-font-size: 16px;

$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-text-color: #000000;
$accent-color: #2196f3;
$primary-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$accent-background-color: #2f303a;
$active-button-background-color: #188ce8;
$link-color: #afb1b8;

$primary-line-height: 1.14;
$button-line-height: 1.87;
$secondary-line-height: 1.71;
